<!DOCTYPE html>
<html>
	<head>
		<title>facultyhome</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css'%}">
		<style>
			table,td,th{border: 2px solid black;border-collapse: collapse;background-color: grey;text-align: center;padding:10px;}
		</style>  
	</head>
	<body class="bi">
		<div class="display">
			<div class="navbar">
				<h1><u>ADMIN</u></h1>
				<ul>
					<li> <a href="{%url 'adminhome'%}">Home</a> </li>
					<li> <a href="{%url 'faculty_signup'%}">Add Faculty</a> </li>
					<li> <a href="{%url 'student_signup'%}">Add Student</a> </li>
					<li> <a href="">Student Details</a>
						<div class="submenu">
							<ul>
								<li><a href="{%url 'stu_details'%}">Personal details</a></li>
								<li><a href="{%url 'stu_attndc'%}">Atendance</a></li>
								<li><a href="{%url 'stu_mark'%}">Mark</a></li>
							</ul>
	
						</div>
					</li>
					<li> <a href="">Faculty Details</a>
						<div class="submenu">
							<ul>
								<li><a href="{%url 'fac_details'%}">Personal details</a></li>
								<li><a href="{%url 'fac_attndc'%}">Attendance</a></li>
								
							</ul>
	
						</div>
					</li>
					<li> <a href="{%url 'timetable'%}">Timetable</a></li>
					<li><a href="#">Leave Management</a>
						<div class="submenu">
							<ul>
								<li><a href="{%url 'fac_leave'%}">Faculty Leave</a></li>
								<li><a href="{%url 'stu_leave'%}">Student Leave</a></li>
							</ul>
	
						</div>
					</li>
					<li>
						<form action="{% url 'logout' %}" method=POST >
							{% csrf_token %}
							<input type="submit" value="logout" name="logout" class="logoutbutton">
						</form>
					</li>
				</ul>
				</div>
				<div>
					<h1>FACULTY DETAILS</h1>
					<br><br>
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Address</th>
								<th>DOB</th>
								<th>Gender</th>
								<th>Qualification</th>
								<th>Mobile</th>
								<th>BatchInCharge</th>
								<th>Email</th>
							</tr>
		
						</thead>
						<tbody>
							{%if authors%}
							{%for i in authors%}
							<tr>
								<td>{{i.Name}}</td>
								<td>{{i.Address}}</td>
								<td>{{i.DOB}}</td>
								<td>{{i.Gender}}</td>
								<td>{{i.Qualification}}</td>
								<td>{{i.Mobile}}</td>
								<td>{{i.BatchInCharge}}</td>
								<td>{{i.Email}}</td>
							</tr>
							{% endfor %}
						{%endif %}
		
						</tbody>
					</table>
		
				</div>
	</div>
	</body>
</html>
		