<!DOCTYPE html>
<html>
	<head>
		<title>adminhome</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css'%}">
		<style>
		</style>  
	</head>
	<body class="bi">
		<div class="display">
		<div class="navbar">
			<h1><u>STUDENT</u></h1>
			<ul>
				<li> <a href="{%url 'studenthome'%}">Home</a></li>
				<li> <a href="#">My Profile</a>
					<div class="submenu">
						<ul>
							<li><a href="{%url 'stud_profile'%}">Personal details</a></li>
							<li><a href="{%url 'viewmyattndc'%}">Atendance</a></li>
							<li><a href="{%url 'viewmymark'%}">Mark</a></li>
						</ul>
					</div>
				</li>
				
				<li> <a href="{%url 'view_studtimetable'%}">Timetable</a></li>
				<li> <a href="#">Leave</a>
					<div class="submenu">
						<ul>
							<li><a href="{%url 'stud_applyleave'%}">Apply Leave</a></li>
							<li><a href="{%url 'stu_appliedleave'%}">Applied Leave</a></li>
							
						</ul>
						</div>
				</li>
				
				<li>
					<form action="{% url 'logout' %}" method=POST >
						{% csrf_token %}
						<input type="submit" value="logout" name="logout" class="logoutbutton">
					</form>
				</li>
					
				
				
			</ul>
        </div>
        <div>
            <h1>Edit Profile</h1>
            <form  action="{% url 'editstu' %}" method=POST>
                {% csrf_token %}
            {%if a%}
            {%for i in a%}
            
            <br>

            <table>

                <tr>
                    <td>Name</td><td>:</td><td><input type="text" value="{{i.Name}}" name="name"></td>

                </tr>
        
                
                <tr>
                    <td>Address</td><td>:</td><td><input type="text" value="{{i.Address}}" name="address"></td>
                </tr>
                
                <tr>
                    <td>Gender</td><td>:</td><td><input type="text" value="{{i.Gender}}" name="gender"></td>
                </tr>
                
                <tr>
                    <td>Mobile</td><td>:</td><td><input type="text" value="{{i.Mobile}}" name="mobile"></td>
                </tr>
                <tr>
                    <td>Guardian</td><td>:</td><td><input type="text" value="{{i.Guardian}}" name="guardian"></td>
                </tr>
                <tr>
                    <td>Batch</td><td>:</td><td><input type="text" value="{{i.Batch}}" name="batch"></td>
                </tr>
                <tr>
                    <td>Email</td><td>:</td><td><input type="text" value="{{i.Email}}" name="email"></td>
                </tr>
                <tr>
                    <td>Password</td><td>:</td><td><input type="text" value="{{i.Password}}" name="password"></td>
                </tr>
            </table>



            {%endfor %}
            {%endif %}
            <br><br>
            <input type="submit" value="Save" name="editstu" class="button"><br><br>
          
        </form>
        </div>
	</div>
	</body>
</html>
		