<!DOCTYPE html>
<html>
	<head>
		<title>adminhome</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css'%}">
		<style>
			table,td,th{border: 2px solid black;border-collapse: collapse;background-color: grey;text-align: center;padding:10px;}
		</style>  
	</head>
	<body class="bi">
		<div class="display">
			<div class="navbar">
				<h1><u>STUDENT</u></h1>
				<ul>
					<li> <a href="{%url 'studenthome'%}">Home</a></li>
					<li> <a href="#">My Profile</a>
						<div class="submenu">
							<ul>
								<li><a href="{%url 'stud_profile'%}">Personal details</a></li>
								<li><a href="{%url 'viewmyattndc'%}">Atendance</a></li>
								<li><a href="{%url 'viewmymark'%}">Mark</a></li>
							</ul>
					</li>
					<li> <a href="{%url 'view_studtimetable'%}">Timetable</a></li>
					<li> <a href="#">Leave</a>
						<div class="submenu">
							<ul>
								<li><a href="{%url 'stud_applyleave'%}">Apply Leave</a></li>
								<li><a href="{%url 'stu_appliedleave'%}">Applied Leave</a></li>
								
							</ul>
							</div>
					</li>
					<li>
						<form action="{% url 'logout' %}" method=POST >
							{% csrf_token %}
							<input type="submit" value="logout" name="logout" class="logoutbutton">
						</form>
					</li>
						
					
					
				</ul>
			</div>
			<div>
				<h1>Timetable</h1><br><br>
				<table>
					<thead>
						<tr>
							<th>Day</th>
							<th>Hour 1</th>
							<th>Hour 2</th>
							<th>Hour 3</th>
							<th>Hour 4</th>
							<th>Batch</th>
						</tr>
					</thead>
					<tbody>
						{%if a%}
						{%for i in a%}
						<tr>
							<td>{{i.Day}}</td>
							<td>{{i.Hour1}}</td>
							<td>{{i.Hour2}}</td>
							<td>{{i.Hour3}}</td>
							<td>{{i.Hour4}}</td>
							<td>{{i.Batch}}</td>
							
						</tr>
						{% endfor %}
					{%endif %}
	
					</tbody>
					
				</table>
			</div>
	</div>
	</body>
</html>
		